# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.synctex.gz

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
